
<div class="container-fluid managescss">
  <div class="row"  >
    <div class="col-sm-2" >


      <div  >

            <div class="css-106x7b6">
              <img class="css-1pqm26d-MuiAvatar-img" src="./../../../assets/images/oanh.png" alt="">
            </div>
            <h5 class="css-ro3fvo-MuiTypography-root">Oanh</h5>
            <p class="css-ays8ay-MuiTypography-root">Oanh Oanh</p>



              <nav class="navbar bg-white">
                <ul >
                  <li class=" css-26vcva-MuiListItem-root">
                    <button  class=" css-1ospu1q-MuiButtonBase-root-MuiButton-root " color="primary" aria-label="" (click)="tranferClient()">
                      <mat-icon> person_pin</mat-icon> Khách hàng
                    </button>

                  </li>
                  <li class=" css-26vcva-MuiListItem-root">
                    <button  class=" css-1ospu1q-MuiButtonBase-root-MuiButton-root " color="primary" aria-label="" (click)="tranferFilm()">
                      <mat-icon>movie</mat-icon> Phim
                    </button>

                  </li>
                  <li class=" css-26vcva-MuiListItem-root">
                    <button  class=" css-1ospu1q-MuiButtonBase-root-MuiButton-root " color="primary" aria-label="" (click)="tranferCategory()">
                      <mat-icon> category</mat-icon> Loại phim
                    </button>

                  </li>
                  <li class=" css-26vcva-MuiListItem-root">
                    <button  class=" css-1ospu1q-MuiButtonBase-root-MuiButton-root " color="primary" aria-label="" (click)="tranferTicket()">
                      <mat-icon>library_books</mat-icon> Vé
                    </button>

                  </li>
                  <li class=" css-26vcva-MuiListItem-root">
                    <button  class=" css-1ospu1q-MuiButtonBase-root-MuiButton-root " color="primary" aria-label="" (click)="tranferBill()">
                      <mat-icon>payment</mat-icon> Hóa đơn
                    </button>

                  </li>
                  <li class=" css-26vcva-MuiListItem-root">
                    <button  class=" css-1ospu1q-MuiButtonBase-root-MuiButton-root " color="primary" aria-label="" (click)="tranferReport()">
                      <mat-icon>report_problem</mat-icon> Báo cáo
                    </button>

                  </li>
                 </ul>

              </nav>

      </div>


    </div>
        <div class="col-sm-10" style="    background-color: rgb(244, 246, 248);">
          <router-outlet></router-outlet>
        </div>
</div>



</div>
