<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <img width="100%" height="420px" src="https://media.lottecinemavn.com/Media/WebAdmin/5e62c5784d4348b7b90a05d1668df9b9.jpg" alt="">-->
<!--  </div>-->
<!--  <form class="example-form">-->
<!--  <mat-form-field class="example-full-width">-->
<!--    <mat-label>Number</mat-label>-->
<!--    &lt;!&ndash; #docregion input &ndash;&gt;-->
<!--    <input type="text"-->
<!--           placeholder="Pick one"-->
<!--           aria-label="Number"-->
<!--           matInput-->
<!--           [formControl]="myControl"-->
<!--           [matAutocomplete]="auto">-->
<!--    &lt;!&ndash; #enddocregion input &ndash;&gt;-->
<!--    &lt;!&ndash; #docregion mat-autocomplete &ndash;&gt;-->
<!--    <mat-autocomplete #auto="matAutocomplete">-->
<!--      <mat-option *ngFor="let cinema of cinemas" [value]="cinema.id">-->
<!--        {{cinema.name}}-->
<!--      </mat-option>-->
<!--    </mat-autocomplete>-->
<!--    &lt;!&ndash; #enddocregion mat-autocomplete &ndash;&gt;-->
<!--  </mat-form-field>-->
<!--  </form>-->
<!--</div>-->




<div class="container">



    <nav class="navbar  navbar-expand-sm  justify-content-center">
      <ul class="navbar-nav">
        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop1" data-toggle="dropdown">
            Hồ Chí Minh
          </a>
          <div class="dropdown-menu" >
            <div *ngFor = "let  c of listHCM">
              <a  class="dropdown-item" href="#">{{c.CinemaName}}</a>
            </div>


          </div>
        </li>
        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop2" data-toggle="dropdown">
            Hà Nội
          </a>
          <div class="dropdown-menu">
            <div *ngFor = "let  c of listHN">
              <a  class="dropdown-item" href="#">{{c.CinemaName}}</a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop3" data-toggle="dropdown">
            ĐB Sông Hồng
          </a>
          <div class="dropdown-menu">
            <div *ngFor = "let  c of listDBSH">
              <a  class="dropdown-item" href="#">{{c.CinemaName}}</a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop4" data-toggle="dropdown">
            Đông Bắc, Tây Bắc
          </a>
          <div class="dropdown-menu">
            <div *ngFor = "let  c of listDBTB">
              <a  class="dropdown-item" href="#">{{c.CinemaName}}</a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop5" data-toggle="dropdown">
            Bắc Miền Trung
          </a>
          <div class="dropdown-menu">
            <div *ngFor = "let  c of listBMT">
              <a  class="dropdown-item" href="#">{{c.CinemaName}}</a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop6" data-toggle="dropdown">
            Nam Miền Trung
          </a>
          <div class="dropdown-menu">
            <div *ngFor = "let  c of listNMT">
              <a  class="dropdown-item" href="#">{{c.CinemaName}}</a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop7" data-toggle="dropdown">
            Đông Nam Bộ
          </a>
          <div class="dropdown-menu">
            <div *ngFor = "let  c of listDNB">
              <a  class="dropdown-item" href="#">{{c.CinemaName}}</a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop8" data-toggle="dropdown">
            Tây Nam Bộ
          </a>
          <div class="dropdown-menu ">
            <div *ngFor = "let  c of listTNB">
              <a  class="dropdown-item" href="#">{{c.CinemaName}}</a>
            </div>
          </div>
        </li>

      </ul>
    </nav>
  <div class="row rowimgcinema">
    <img class="imgcinema"  src="https://media.lottecinemavn.com/Media/WebAdmin/5e62c5784d4348b7b90a05d1668df9b9.jpg">
  </div>
  <div>
    <app-list-cinema></app-list-cinema>
  </div>


</div>
