<div class="container-fluid">
    <footer class = "ofooter">
        <div >
          <div class="row">
            <div class="col-sm-3 odivfooter">
              <button   style ="height: 100px; width: 100px" class="nav-link example-icon favorite-icon" mat-icon-button color="white" aria-label="Example icon button with a home icon" >
                <mat-icon style ="height: 10px; width: 10px">shopping_basket</mat-icon>
                <h2>CINEMA</h2>
              </button>

            </div>
            <div class="col-sm-3 odivfooter">
              <h4> GIỚI THIỆU</h4>
              <ul>
                <li> <a href="#">Liên hệ chúng tôi</a></li>
                <li><a href="#">Diễn đàn hỗ trợ</a></li>
                <li><a href="#">Trạng thái hệ thống</a></li>

              </ul>
            </div>
            <div class="col-sm-3 odivfooter">
              <h4> THAM GIA</h4>
              <ul>
                <li> <a href="#">Ứng dụng của bên thứ 3</a></li>
                <li><a href="#">Thêm phim mới</a></li>
                <li><a href="#">Đóng góp ý kiến</a></li>

              </ul>
            </div>
            <div class="col-sm-3 odivfooter">
              <h4>ĐIỀU KHOẢN</h4>
              <ul>
                <li> <a href="#">Điều khoản sử dụng</a></li>
                <li><a href="#">Chính sách bảo mật</a></li>

              </ul>
            </div>
          </div>

        </div>
      </footer>
</div>
