
<div class="container-fluid">
  <div>
    <div class="row">
      <div class="col-9">

        <mat-form-field class="example-full-width">
          <div class="css-dixqhs-MuiInputBase-root-MuiOutlinedInput-root">

            <input  matInput type="text"  height="100%" class="form-control form-control"/>


            <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
              <mat-icon>search</mat-icon>
            </button>
          </div>
        </mat-form-field>




      </div>

      <div class="col-3">
        <div class="example-button-container">
          <button mat-fab (click)="openDialog()" color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>add_circle</mat-icon>
          </button>
        </div>
      </div>
    </div>


  </div>


  <div class="mat-elevation-z8 table-wrapper-scroll-y my-custom-scrollbar">

    <table class="table table-striped tableheight" >
      <thead>
      <tr>
        <th>STT</th>
        <th>Hình</th>
        <th>Tên</th>
        <th>Thời lượng</th>
        <th>Ngày khởi chiếu</th>


      </tr>
      </thead>
      <tbody *ngFor="let  film of films ">
      <tr>
        <td></td>
        <td> <img width="100px" height="150px" src = "../../../assets/images/{{film.imageLandscape}}"></td>
        <td>{{film.name}}</td>
        <td>{{film.duration}}</td>
        <td>{{film.startdate | date:'d/M/yy'}}</td>
<!--        <td>{{film.startFrom}}</td>-->

        <td>
          <button  (click)="openDialogeEdit(film)" mat-icon-button color="success" aria-label="Example icon button with a home icon">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
        <td>
          <button (click)="delete(film)" mat-icon-button color="warn" aria-label="Example icon button with a home icon">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"  showFirstLastButtons></mat-paginator>
  </div>



</div>


