<div class="container">
  <div class="row bg-light">
    <div class="col-sm-2 justify-content-center" >
      <h3>{{cinema.CinemaName}}</h3><br>


    </div>
    <div class="col-sm-10">
      <div class="addresscinema"><mat-icon> place</mat-icon>{{cinema.address}}</div><br>
      <div><mat-icon>tab</mat-icon>Tổng số phòng chiếu:<span>{{cinema.rooms}}</span>  phòng</div><br>
      <div>	<mat-icon>event_seat</mat-icon>Tổng số chỗ ngồi:<span>{{cinema.seats}}</span>  ghế</div><br>
    </div>


  </div>
  <div class="row justify-content-center">
    <div class="btn-group">
      <button type="button" class="btn clbtn">Lịch chiếu phim</button>
      <button type="button" class="btn clbtn">Vị trí rạp</button>
      <button type="button" class="btn clbtn">Hướng dẫn đi tới rạp</button>
      <button type="button" class="btn clbtn">Tiện ích đi kèm</button>

    </div>

  </div>
  <div>

  </div>
  <input type="date">
  <div class="row">
    <button mat-icon-button color="accent" aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>album</mat-icon>
    </button>
    <h3 style="    display: block;">LẬT MẶT: 48H</h3><br>
    <div class="row">
       <button  color="primary" class="justify-content-center bg-success btn-hall">
         <mat-icon >featured_play_list</mat-icon><br>
          <span> Màn Hình 1</span><br>
          <span>1:20</span><br>
          <span>112/145</span><br>

       </button>
      <button  color="primary" class="justify-content-center bg-success btn-hall ">
        <mat-icon >featured_play_list</mat-icon><br>
        <span> Màn Hình 2</span><br>
        <span>1:20</span><br>
        <span>112/145</span><br>

      </button>
      <button  color="primary" class="justify-content-center bg-success btn-hall">
        <mat-icon >featured_play_list</mat-icon><br>
        <span> Màn Hình 3</span><br>
        <span>1:20</span><br>
        <span>112/145</span><br>

      </button>

    </div>

  </div>
</div>
