@import '~@angular/material/prebuilt-themes/indigo-pink.css';
.btn-home{
  width: 50px;
  height: 50px;
}
.rowtitle{
  background-color: darkgray;
  color: darkslateblue;
  height: 100px;
  width: -moz-min-content;
  text-align: center;
  float:inherit;
}
.btn-icon{
  text-align: center;
  height: 100px;
  width:  100px;

}
.boder-btn-icon{
  border-color: darkslateblue;
  border-style: solid;
  border-radius: 0.5em;
  padding: 0.5em 0em;
  margin: 0.5em;

}
